@page
@model MvcProductCore.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.StandardCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.StandardCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ListPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ListPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.SellStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.SellStartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.SellEndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.SellEndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.DiscontinuedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.DiscontinuedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ThumbNailPhoto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ThumbNailPhoto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ThumbnailPhotoFileName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ThumbnailPhotoFileName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Rowguid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Rowguid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ModifiedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductCategory.ProductCategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductModel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductModel.ProductModelId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product.ProductId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
